<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>TCC AQUI</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="../Framework/css/bootstrap.css">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="icon" type="image/jpg" href="../img/icone.png" />

    </head>
    <body class="container-fluid m-0 p-0 fundo-secundario">
        <div class="fundo-primario">
            <div class="mb-2">
                <nav class="p-2" id="menu">
                    <div class="d-inline-block w-50">
                        <h3 class="home">TCC AQUI</h3>
                        <a class="btn fundo-secundario fw-bold" href="index.html">Home</a>
                        <a class="btn fundo-secundario fw-bold" href="#">Contao</a>
                        <a class="btn fundo-secundario fw-bold" href="#">TCC</a>
                        
                    </div>
                    <div class="div-login align-items-end">
                        <a class="btn fundo-secundario fw-bold m-1" href="#" id="login"><img class="me-4" src="../img/login.png"/>Login</a>
                    </div>
                </nav>
            </div>
            
        </div>
        <div class="corpo">
            <div class="login w-100 m-auto">
                <form class="p-4 m-5" action="" method="post">
                    <div class="mb-3">
                      <label for="email" class="form-label">Email</label>
                      <input type="email" class="form-control" id="email" name="email">
                    </div>
                    <div class="mb-3">
                      <label for="senha" class="form-label">Senha</label>
                      <input type="password" class="form-control" id="senha" name="email">
                    </div>
                    <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    
                    <div class="acesso text-center mb-2 p-2">
                        <div class="form-check d-inline-block">
                            <input class="form-check-input" type="radio" name="tipo" id="visitante">
                            <label class="form-check-label" for="visitante">Visitante</label>
                        </div>
                        <div class="form-check d-inline-block">                                <input class="form-check-input" type="radio" name="tipo" id="aluno">
                            <label class="form-check-label" for="aluno">Aluno</label>
                        </div>
                        <div class="form-check d-inline-block">
                            <input class="form-check-input" type="radio" name="tipo" id="professor">
                            <label class="form-check-label" for="professor">Professor</label>
                        </div>
                    </div>
                    <button type="submit" class="btn">Logar</button>
                  </form>
            </div>
        </div>
        <script src="../Framework/js/jquery-3.6.4.js"></script>
        <script src="../Framework/js/popper.min.js"></script>
        <script src="../Framework/js/bootstrap.js"></script>
    </body>
</html>